@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --fs: 1.2rem;

  --DarkGray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkGray: hsl(0, 0%, 27%);
}

*,
*::before,
*::after {
  margin: 0 !important;
}

*,
*::before,
*::after {
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
  font-size: var(--fs);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--BG);
  position: relative;
}

img,
svg {
  max-width: 100%;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

a {
  -webkit-text-decoration: none;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 50em) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
}

/* NAV */
nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 4rem;
  min-height: 10rem;
  width: 100%;
  padding: 6rem;
  z-index: 1;
}

.logo {
  width: 6rem;
}

.logo img {
  width: 100%;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul a {
  display: block;
  font-size: 1.6rem;
  color: hsl(0, 0%, 100%);
  color: var(--White);
  text-transform: lowercase;
  position: relative;
  height: 2rem;
}

nav ul a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  background-color: var(--White);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.25s ease;
}

nav ul a:hover::before {
  width: 2rem;
}

@media only screen and (max-width: 50em) {
  nav {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 36.5vw;
    padding: 10vw;
    z-index: 11;
  }

  .logo {
    transform: translateX(-50%);
  }

  nav ul {
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    background-color: var(--White);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 12vw;
    gap: 5vw;
    z-index: 11;

    max-height: 0;
    visibility: hidden;
    overflow: hidden;

    transition: all 0.25s ease-in-out;
  }

  nav ul.open {
    padding: 10vw 12vw;
    max-height: -moz-max-content;
    max-height: max-content;
    visibility: visible;
    overflow: visible;
  }

  nav ul a {
    color: hsl(0, 0%, 0%);
    color: var(--Black);
  }

  .hamburger {
    cursor: pointer;
  }

  .close {
    display: none;
    z-index: 12;
    cursor: pointer;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    transition: opacity 0.25s ease-in-out;
  }

  .overlay.open {
    opacity: 1;
    z-index: 10;
  }
}

/* MAIN */
main {
  max-width: 150rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 2fr 1fr;
}

@media only screen and (max-width: 85em) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
  }
}

.hero-img {
  grid-column: span 6;
  position: relative;
  overflow: hidden;
}

.hero-img ul {
  transition: transform 0.3s ease-in-out;
}

.hero-img ul,
.hero-img li {
  height: 100%;
  width: 100%;
}

.hero-img li {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 85em) {
  .hero-img {
    height: 96vw;
  }
}

.section-main {
  grid-column: span 4;
  padding: 14rem 7rem 14rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.main-info {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main-info ul {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.main-info li {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  gap: 2.4rem;
}

.main-info h1 {
  display: block;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 0.91;
}

.main-info p {
  font-size: 1.6rem;
  color: hsl(0, 0%, 63%);
  color: var(--DarkGray);
  line-height: 1.35;
}

.shop-now {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.1rem;
  font-size: 1.8rem;
  color: hsl(0, 0%, 0%);
  color: var(--Black);
  position: absolute;
  bottom: 0.8em;
  transition: color 0.25s ease;
}

.shop-now:hover {
  color: hsl(0, 0%, 63%);
  color: var(--DarkGray);
}

.shop-now:hover path {
  fill: hsl(0, 0%, 63%);
  fill: var(--DarkGray);
}

.info svg {
  width: 5rem;
  height: 1.5rem;
}

.slide-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 13%;
  display: flex;
  background-color: hsl(0, 0%, 0%);
  background-color: var(--Black);
}

.button {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease;
}

.button:hover {
  background-color: hsl(0, 0%, 63%);
  background-color: var(--DarkGray);
}

.button svg {
  width: 1.44rem;
  height: 2.4rem;
  scale: 1.2;
  filter: brightness(0.9);
}

@media only screen and (max-width: 85em) {
  .section-main {
    padding: 12vw 10vw;
    justify-content: center;
  }

  .main-info {
    height: max(28rem, 35vw);
  }

  .main-info h1 {
    font-size: max(3.5rem, min(6vw, 6.5rem));
    font-weight: 600;
  }

  .main-info p {
    font-size: max(1.6rem, min(2.5vw, 2.2rem));
    color: hsl(0, 0%, 63%);
    color: var(--DarkGray);
    line-height: 1.35;
  }

  .shop-now {
    bottom: 1vw;
  }

  .slide-buttons {
    top: 0;
    left: 100%;
    transform: translate(-100%, -100%);
  }
}

.second-img {
  grid-column: span 3;
}

.section-about {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 6rem 3rem 6rem 5rem;
}

.section-about h2 {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

.section-about p {
  font-size: 1.6rem;
  line-height: 1.35;
  color: hsl(0, 0%, 63%);
  color: var(--DarkGray);
}

@media only screen and (max-width: 85em) {
  .section-about {
    padding: 12vw 10vw;
  }

  .section-about h2 {
    font-size: max(1.7rem, min(3vw, 2.5rem));
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1vw;
  }

  .section-about p {
    font-size: max(1.6rem, min(2.5vw, 2.2rem));
    line-height: 1.35;
    color: hsl(0, 0%, 63%);
    color: var(--DarkGray);
  }
}

.last-img {
  grid-column: span 3;
}

.attribution {
  display: none;
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--Text);
  margin-bottom: 1rem;
}

.attribution a {
  color: var(--SecondaryText);
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: color 0.2s ease;
}

.attribution a:hover {
  filter: brightness(1.5);
}

@media only screen and (max-width: 85em) {
  .attribution {
    display: none;
  }
}
